footer.container-fluid.text-muted
	hr
	div.row
		div.col
			small.pb-3 The work on this website is licensed under a&nbsp;
				a(href='https://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License.
				span &nbsp;&copy; 2017 Jorge Valle