extends layout

block content

	h1 Welcome to Antares

	div.container
		div.row

			div.col-12

				div.alert.alert-info(role='alert')
					span Important release info and other


			div.col-6

				h3 Contribute to Antares

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt urna ligula, non blandit nisi lacinia at. Fusce erat tellus, aliquet non turpis vel, suscipit molestie ligula. Aliquam erat volutpat. Duis mollis est ex, ut euismod mi ullamcorper eget. Aliquam eget libero sit amet nunc consequat dignissim.

				a(href="http://www.github.com") Contribute on Github

			div.col-6
				h3 Learn Antares

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt urna ligula, non blandit nisi lacinia at. Fusce erat tellus, aliquet non turpis vel, suscipit molestie ligula.

				a(href="http://www.github.com") Check out the guide

			div.col-6
				h3 Something else

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt urna ligula, non blandit nisi lacinia at. Fusce erat tellus, aliquet non turpis vel, suscipit molestie ligula.

				a(href="http://www.github.com") Some link

			div.col-6
				h3 Some other thing

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt urna ligula, non blandit nisi lacinia at. Fusce erat tellus, aliquet non turpis vel, suscipit molestie ligula.

				a(href="http://www.github.com") Yet another thing
