body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, i.date {
	font-family: 'Domine', serif;
}
header h1 {
	font-size: 1.8em;
}
header h2 {
	font-size: 1.3em;
}
header h2,
i.date,
footer small {
	color: #78909c;
}
span.email {
	unicode-bidi: bidi-override;
	direction: rtl;
}
a {
	color: #0277bd ;
	text-decoration: underline;
}
nav ul {
	list-style: none;
}
nav a {
	font-size: 1.1em;
	text-decoration: none;
}