body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, i.date {
	font-family: 'Domine', serif;
}

header h2 {
	font-size: 1.4em;
}

header h2,
i.date,
footer small {
	color: #aaa;
}

span.email {
	unicode-bidi: bidi-override;
	direction: rtl;
}