extends layout

block content

	nav.list-group.mt-2.mb-3
		each content in apiResponse
			div.d-flex.justify-content-between
				a(href='/blog/' + content.url)
					h3.mb-1 #{content.title}
				//-small=content.publishedDate
			p.mb-1 !{content.body.substr(0, 150) + '...'}


