footer.container-fluid.text-muted
	hr
	div.row
		div.col
			small.pb-3 This work is licensed under an 
				a(href='https://creativecommons.org/licenses/by/4.0/') Attribution 4.0 International (CC by 4.0)
				span &nbsp;&copy; 2017 Jorge Valle