doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= documentTitle
		link(rel='canonical', href= canonicalUrl )
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Domine|Roboto')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-65509004-1', 'auto'); ga('send', 'pageview');

	body
		div.container-fluid(style="border-bottom: 1px dotted #e0e0e0;")
			header.row
				div.col-sm-1.col-md-1.col-lg-3
				div.col-sm-10.col-md-10.col-lg-6
					a(href='/')
						img.rounded-circle.mx-auto.d-block.p-3(src='/images/jorge.jpg', alt='Jorge Valle Photo')
					h1.text-center Jorge Valle
					h2.text-center.pb-2 Man. Web developer. Ouroboric.
					hr.fancy
				div.col-sm-1.col-md-1.col-lg-3

			nav.row
				div.col-sm-1.col-md-1.col-lg-3
				div.col-sm-10.col-md-10.col-lg-6
					ul.row
						li.col-6.text-center 
							a(href='/') About
						li.col-6.text-center 
							a(href='/blog') Blog
				div.col-sm-1.col-md-1.col-lg-3

		div.container-fluid
			main.row.mt-5
				div.col-sm-1.col-md-1.col-lg-3
				div.col-sm-10.col-md-10.col-lg-6
					block content
				div.col-sm-1.col-md-1.col-lg-3

			include footer