section.pt-3.pb-3.newsletter-signup
	p.text-center I write about Javascript, web development and tech at large.

	div.row
		div.xs-10.mx-auto.d-block
			form.form-inline(action='http://jorgevalle.createsend.com/t/d/s/xggt/', method='post')
				div.form-group
					label.sr-only(for='emailAddress')
					input#emailAddress.form-control(type='email', name='cm-xggt-xggt', placeholder='Email address')
					span.input-group-btn
						button.btn(type='submit') Subscribe