block content

- var openingXmlTag = '<?xml version="1.0" encoding="UTF-8"?>';

!{openingXmlTag}
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
	url
		loc='http://jorgevalle.com'
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
	url
		loc='http://jorgevalle.com/blog'
each content in apiResponse
	urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
		url
			loc='http://jorgevalle.com/blog/' + content.url