extends layout

block content

	h1 Thanks for signing up

	div
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget ipsum sed augue aliquet bibendum. Nulla eu lacus turpis. Nulla nec sodales mi. Sed dignissim vulputate lectus, eget ullamcorper ante rutrum vitae. Phasellus at volutpat eros. Nulla volutpat porttitor tristique. Pellentesque nec risus non dui lacinia vulputate. Integer faucibus eleifend ornare. Phasellus rutrum at mauris nec condimentum. Etiam vel pharetra metus, a euismod ante.