extends layout

block content

	main.container-fluid.mt-4
		div.row
			div.col
				h1 Timeline

		div.row.mt-3
			div.col-xs-12.col-sm-12.col-md-4

				p.lead A sampling of things I've done in my personal and professional life.
				p Tempus fugit.

			div.col-xs-12.col-sm-12.col-md-8

				table.table
					thead
						tr
							th Date
							th Event
					tbody
						tr
							td July, 2017
							td Visited Croatia
						tr
							td June, 2017
							td Attended UX Burlington, in Burlington
						tr
							td February 22, 2017
							td Attended Orchard Harvest, in New York City
						tr
							td January, 2017
							td Launched the new Efficiency Smart website
						tr
							td January, 2017
							td Launched the new Efficiency Smart website
						tr
							td October, 2016
							td Competed in Hack VT
						tr
							td July, 2016
							td Competed at IBJJF New York Summer Open, in New York City
						tr
							td June, 2016
							td Attended UX Burlington, in Burlington
						tr
							td April, 2016
							td Received my BJJ blue belt
						tr
							td March, 2016
							td Competed at the Vermont Open
						tr
							td January, 2016
							td Launched the new Efficiency Vermont website
						tr
							td December, 2015
							td Visited Belgium and Holland
						tr
							td June, 2015
							td Attended UX Burlington, in Burlington
						tr
							td June, 2014
							td Attended The Future of Web Apps conference, in Boston
						tr
							td February 12, 2014
							td Started work at Vermont Energy Investment Corporation
						tr
							td June 24, 2012
							td Launched Sipi, a business review site for El Salvador
						tr
							td January, 2012
							td Incorporated Servicios Integrales Pro Imagen, a web development company in El Salvador