extends layout

block content
	p I am a web developer, currently living in Vermont and working as a front-end developer at the #[a(href='https://www.veic.org/') Vermont Energy Investment Corporation].
	p I have worked on #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") AngularJS applications] used by thousands of people a month, #[a(href="http://www.efficiencysmart.org") Orchard CMS websites] that help people save money and energy, and #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") something else] here as well.
	p In my spare time, I enjoy working on different side projects, like this #[a(href="http://www.thisisyourcareerpath.com/") MEAN stack application] developed in 24 hours for a hackathon. I'm also actively developing #[a(href="https://github.com/JorgeValle/Antares") a simple Node and Express CMS], which this site is running on. I also work out and practice Brazilian Jiu Jitsu. Plus, I fucking love music.
	p If you want to reach me, you can always reach me through email.