doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= documentTitle
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Domine|Open+Sans')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-65509004-1', 'auto'); ga('send', 'pageview');

body.container
	header.row
		div.col-sm-1.col-lg-2
		div.col-sm-10.col-lg-8(style='border-bottom: 1px dotted #e0e0e0')
			a(href='/')
				img.rounded-circle.mx-auto.d-block.p-3(src='/images/jorge.jpg', alt='Jorge Valle Photo')
			h1.text-center Jorge Valle
			h2.text-center.pb-2 Man. Web developer. Ouroboric.
		div.col-sm-1.col-lg-2

	nav.row
		div.col-sm-1.col-lg-2
		div.col-sm-10.col-lg-8.mt-2(style='border-bottom: 1px solid #e0e0e0')
			ul.row
				li.col-6.text-center 
					a(href='/') About
				li.col-6.text-center 
					a(href='/blog') Blog
		div.col-sm-1.col-lg-2

	main.row.mt-4
		div.col-sm-1.col-lg-2
		div.col-sm-10.col-lg-8
			block content
		div.col-sm-1.col-lg-2

include footer