extends layout

block content
	h1 Welcome to Antares

	p Nullam ac pretium elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque at facilisis libero. Vivamus luctus neque eu augue congue, nec cursus nulla elementum. Pellentesque fermentum sem nec leo interdum efficitur. Quisque non elit at sem viverra tempus ut accumsan erat. Aenean placerat, risus vel venenatis lacinia, nibh lorem faucibus tellus, a vulputate purus magna et ligula.

	//- this gets converted to a put by method-override package
	form(action='/api/settings', method='post')
		div.form-group
			label(for='site-title') Site Title
			input#site-title.form-control(type='text', aria-describedby='site-title-help', name='siteTitle')
			small#site-title-help.form-text.text-muted The title of your site.
		div.form-group
			label(for='username') Email
			input#email.form-control(type='text', aria-describedby='email-help', name='email')
			small#email-help.form-text.text-muted The admin email. This also functions as your username.
		div.form-group
			label(for='password') Password, twice
			input#password.form-control(type='password', aria-describedby='password-help', name='password')
			input#password2.form-control(type='password', aria-describedby='password-help', name='password2')
			small#password-help.form-text.text-muted Make it strong.
		div
			button.btn.btn-primary(type='submit') Install