doctype html
html(lang='en')
	head
		title= documentTitle
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='robots', content='noindex, nofollow')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css')
		//link(rel='stylesheet', href='/stylesheets/antares.css')

body
	nav.navbar.bg-inverse.navbar-inverse.navbar-toggleable-md 
		a.navbar-brand(href='/admin') Antares
		div.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='/admin/webapi') Content API
				li.nav-item
					a.nav-link(href='/admin/users') Users
				li.nav-item
					a.nav-link(href='/admin/users') Endpoints
				li.nav-item
					a.nav-link(href='/admin/signout') Signout

	div.container-fluid
		div.row
			nav.col-sm-2
				ul.nav.nav-pills.flex-column
					li.nav-item
						a.nav-link(href='/admin') Home
						a.nav-link(href='/admin/query') Query content
						a.nav-link(href='#') Create atom
						a.nav-link(href='#') Create element
						a.nav-link(href='#') Create star
						a.nav-link(href='#') Endpoint Bui
						a.nav-link(href='/admin/create/type') Create type
						a.nav-link(href='/admin/create') Create page
						a.nav-link(href='/admin/update') Update page
						a.nav-link(href='/admin') Elements
						a.nav-link(href='/admin/site') Global variables

			main.col-sm-10
				block content

				hr
				small Copyright 2017 Antares - Free for use, and open source under the Apache License 2.0